*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  .box__dang-ky{
    font-family: inherit;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    border-top: 1px solid #dadde1;
    box-sizing: border-box;
    padding: 16px;
    position: relative;
    width: 432px;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: auto;
  }
  .box__dang-ky::before{
    background: transparent;
    border-radius: 8px;
    bottom: 0;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: -77px;
    width: 432px;
    z-index: 0;
    pointer-events: none;
  }
  h1{
        color: #1c1e21;
      font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 0;
    font-weight: 600;
  }
  p{margin-bottom: 0;
    color: #606770;
      font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
      font-size: 15px;
      line-height: 24px;
  }
  input[type="text"], input[type="password"]{
     width: 170px;
    padding: 11px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
      font-size: 15px;
      line-height: 16px;
    background: transparent;
    border-color: #ccd0d5;
    border-radius: 5px; 
      margin: 0;
    border: 1px solid #ccd0d5;
    color: #1c1e21;
  }
  